.App {
  text-align: center;

}


.advice {
  padding: 20px;
  margin-left: 10px;

  
}
h1 {
  font-weight: 900;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#root {
  background-color: #00325c;
  color: aliceblue;
}

* {
  font-family: 'Roboto', sans-serif;
}


.bg-navy {
  background-color: #0057A3 !important;
}

.custom-card {
  width: 600px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: auto; /* Center the card horizontally */
  margin-top: 4;
}

.card-body {
  padding: 20px; /* Adjust the padding inside the card as needed */
}

h1, h2 {
  font-weight: bold !important;

}

img {
  float: left;
}

.qs {
  background-color: aliceblue;
  border-radius: 8%;
  color: black;
  padding: 20px;
  margin-right: 40px;
  margin-left: 0;
}


.left-column {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 5;
}

.custom-email-input {
  width: 100px; 


}
.form-center {
  display: flex;
  justify-content: center;
}
