.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root {
  background-color: #1e74bb;
  color: aliceblue;
}

* {
  font-family: 'Roboto', sans-serif;
}


.bg-navy {
  background-color: #0057A3 !important;
}

.custom-card {
  width: 600px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: auto; /* Center the card horizontally */
}

.card-body {
  padding: 20px; /* Adjust the padding inside the card as needed */
}